<!--Diseño de los comentarios: es una vista renderizada a la que se le pasa un parámetro de objeto
que generalmente serán los comentarios asociados con una publicación en particular.-->

<!--Ver diseño de comentarios _form.html.erb y _comment.html.erb-->


<%object.comments.each do |c|%>
    <div class=" p-2">
      <div class="row mt-3">
        <div class="ml-2">
        <% if c.user.image_url %>
          <%= image_tag(c.user.image.url, class: "img-profile")%>
        <%end%>
        </div>
        <div class="mt-2">
          <div class="col font-weight-bold">
            <%= link_to user_path(c.user), class: "font-raleway" do%>
              <%= c.user.full_name %>
            <%end%>
          </div>
          <!--Utiliza un método Rails distance_of_time_in_words para mostrar la cantidad de tiempo
          transcurrido desde que se creó la publicación hasta la hora actual.-->
          <div class="col size-12">Posted <%= distance_of_time_in_words(c.created_at, Time.now) %> ago</div>
        </div>
      </div>

      <div class= "row ml-5 pl-1">
        <div class="col-auto font-rale text-post">
          <%= c.content %>
          <% if current_user.id == c.user_id%>
            <%= link_to comment_path(c), method: :delete, data: { confirm: "You sure?" } do %>
              <i class="fas fa-trash hover-red"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <!--También presenta una vista de Me gusta que proporciona el comentario en sí
      como una variable de objeto.-->
      <div class="row ml-5 pl-1">
        <div class="col-auto"><%= render 'likes/like_comments', object: c%></div>
      </div>

    </div>
  <%end%>
