<header class="fixed-top navbar-dark bg-dark shadow">

  <div>
    <nav class="navbar navbar-expand-sm">
      <div class ="navbar-header">
        <%= link_to posts_path, class:"text-light" do %>
          <%=image_tag("", id:"logo", class:"text-light nav-link")%>
          <span class="text-white">SOCIAL NETWORK</span>
        <% end %>
      </div>

        <div class="row mx-auto">
          <div class="col-auto">
            <!--La ruta ' link_to posts_path ' simplemente se vincula
            a la vista de índice de publicaciones -->
            <%= link_to posts_path, class:"text-light nav-link" do %>
              <i class=""></i> HOME
            <%end%>
          </div>

          <div class="col-auto">
  <!-- La ruta ' link_to users_path ' simplemente se vincula a la vista de índice de usuarios-->
            <%= link_to users_path, class:"text-light nav-link" do%>
              <i class=""></i> FIND FRIENDS
            <%end%>
          </div>

        </div>

      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <!-- El botón de notificación mostrará un icono proporcionado por FontAwesome
            y la cantidad de notificaciones que tiene el usuario actual. -->
            <!--data-toggle abre una modal, con modal objetivo data-target -->
            <button class="text-white btn btn-info", data-toggle="modal" data-target="#noticeModal">
              <i class="fas fa-bell"></i>
                <!--%= current_user.notifications.count %-->
            </button>
            <!-- slightly changed ..
            ..= button_to saw_notice_path, :class => "text-white btn notice-btn-#{notification_seen}",
             data: {toggle: 'modal', target: '#noticeModal'}, method: :get, remote: true do %>-->
             <!--
             ..% if notification_seen %>-->
              <!--
              <i class="fas fa-bell-slash"></i>-->
             <!--
             else %>-->
            <!--
            <i class="fas fa-bell"></i>-->
            <!--
            < end %>-->
            <!-- < end %>-->
          </li>
          <li class="nav-item dropdown">
            <a id="navbarDropdown" class="nav-link dropdown-toggle"
                href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account <b class="caret"></b>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  <!--La ruta 'link_to user_path (current_user)' enlaza con la vista de visualización de usuarios
  usando la identificación del usuario actual para mostrar información relativa a ese usuario.-->
              <%= link_to "My Profile", user_path(current_user), class:"dropdown-item" %>
<!--La ruta 'link_to destroy_user_session_path' se vincula a un método de destrucción del
controlador de sesiones de idear-->
              <%= link_to "Log out", destroy_user_session_path, class:"dropdown-item font-raleway", method: :delete %>
            </div>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<!--Este render en la parte inferior de la página es necesario para que funcione el botón de
notificaciones. Como permite que aparezca una ventana emergente una vez que se hace clic,
que muestra todas las notificaciones que tiene el usuario.-->

<!--Esta variable de objeto aprobada es la asociativa que tiene muchos vínculos entre el modelo
de Usuario y el modelo de Notificaciones. Dado que este es un enlace con muchos y puede devolver
múltiples registros dentro del modo de Notificaciones, ejecutamos un bucle each do para manejar cada
notificación por separado. Esto nos permite clasificar nuestras notificaciones y la capacidad
de mostrar un texto de contexto correcto sobre cada notificación.
app/views/shared/_notifications.html.erb-->
<!--
<-% if user_signed_in? %>
  <-%= render 'shared/notifications', object: current_user.notifications %>
<-% end %>
-->
